# Amazon ML

In [1]:
# Download the metadata

!wget -O "metadata.zip" "https://he-s3.s3.ap-southeast-1.amazonaws.com/media/hackathon/amazon-ml-challenge/product-browse-node-classification-2-7ff04e5a/546b594ee0a211eb.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=602a7c09a3ff5f0771f71f0b18da0d7d6f394819be02206965f51153ddb7810b&X-Amz-Date=20210730T022102Z&X-Amz-Credential=AKIA6I2ISGOYH7WWS3G5%2F20210730%2Fap-southeast-1%2Fs3%2Faws4_request"

--2021-07-30 02:24:18--  https://he-s3.s3.ap-southeast-1.amazonaws.com/media/hackathon/amazon-ml-challenge/product-browse-node-classification-2-7ff04e5a/546b594ee0a211eb.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=602a7c09a3ff5f0771f71f0b18da0d7d6f394819be02206965f51153ddb7810b&X-Amz-Date=20210730T022102Z&X-Amz-Credential=AKIA6I2ISGOYH7WWS3G5%2F20210730%2Fap-southeast-1%2Fs3%2Faws4_request
Resolving he-s3.s3.ap-southeast-1.amazonaws.com (he-s3.s3.ap-southeast-1.amazonaws.com)... 52.219.133.7
Connecting to he-s3.s3.ap-southeast-1.amazonaws.com (he-s3.s3.ap-southeast-1.amazonaws.com)|52.219.133.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 276 [application/zip]
Saving to: ‘metadata.zip’

metadata.zip        100%[===================>]     276  --.-KB/s    in 0s

2021-07-30 02:24:19 (16.1 MB/s) - ‘metadata.zip’ saved [276/276]

In [19]:
# Required modules

import os
import csv
import numpy as np
import pandas as pd
import seaborn as sns

from zipfile import ZipFile
from matplotlib import pyplot as plt

In [3]:
# Config

%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 7)

In [5]:
# Extracting the metadata

with ZipFile('metadata.zip', 'r') as zf:
    zf.extractall("./")

In [6]:
# Get dataset link

link = open('datasetLink.txt').read()

In [14]:
# Download Actual Dataset

os.system(f"wget -O 'dataset.zip' {link}")

0

In [15]:
# Extracting the dataset

with ZipFile('dataset.zip', 'r') as zf:
    zf.extractall('./')

In [17]:
# Some main file paths

main_dir = './dataset'
train_file = os.path.join(main_dir, 'train.csv')
test_file = os.path.join(main_dir, 'test.csv')

In [20]:
# Load the train data

train = pd.read_csv(train_file, escapechar="\\", quoting=csv.QUOTE_NONE)
train.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4

[5 rows x 5 columns]

In [21]:
# Inspecting the dataset

train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB

       BROWSE_NODE_ID
count    2.903024e+06
mean     9.211321e+03
std      5.606280e+04
min      0.000000e+00
25%      7.000000e+02
50%      1.072000e+03
75%      2.546000e+03
max      2.893574e+06

In [25]:
# Missing values(for 100%)

(train.isna().sum() / train.shape[0])*100

TITLE              0.002446
DESCRIPTION       24.927937
BULLET_POINTS      5.727235
BRAND              1.954410
BROWSE_NODE_ID     0.000000
dtype: float64

In [26]:
# Load the test data

test = pd.read_csv(test_file, escapechar="\\", quoting=csv.QUOTE_NONE)
test.head()

   PRODUCT_ID  ...           BRAND
0           1  ...         Command
1           2  ...          O'Neal
2           3  ...  Boelter Brands
3           4  ...       Panasonic
4           5  ...            Zero

[5 rows x 5 columns]

This is just to get an entry on leaderboard, not actual solution.

In [27]:
# Output

submission = pd.DataFrame()
submission['PRODUCT_ID'] = test['PRODUCT_ID']
submission['BROWSE_NODE_ID'] = np.random.randint(0, 9919, size=110775)
submission.to_csv("output.csv", index=False)